:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  --white: #fff;
  --black: #000;
  --light: 300;
  --regular: 400;
  --bold: 700;
}

/* Reset Styles */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Global Styles */
body {
  background-color: var(--light-blue-100);
  color: var(--black);
  font-weight: var(--regular);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--regular);
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    min-height: 100vh;
    height: auto;
  }
  @media (max-width: 375px) {
    padding: 0 1.5rem;
  }
  main {
    flex-grow: 1;
    display: flex;
    margin-top: 2.5rem;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (max-width: 375px) {
      margin-top: 1.5rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;

      @media (max-width: 768px) {
        flex-grow: 1;
      }

      header h1 {
        color: var(--dark-blue-300);
        font-weight: var(--bold);
        font-size: 3rem;
      }
      .encryption-form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 0 5rem;

        @media (max-width: 1024px) {
          margin: 0 2rem;
        }

        @media (max-width: 768px) {
          margin: 0;

          min-height: 600px;
        }

        .text-wrapper {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          padding: 4rem 0;
          gap: 1rem;

          textarea {
            flex-grow: 1;
            background-color: var(--light-blue-100);
            color: var(--dark-blue-300);
            font-family: "Inter", sans-serif;
            font-size: 2rem;
            font-weight: var(--regular);
            border: 0;
            width: 100%;
            field-sizing: content;
          }

          textarea:focus {
            outline: none;
          }

          textarea::placeholder {
            color: var(--dark-blue-300);
          }
        }
        .info {
          display: flex;
          width: 100%;
          color: var(--gray-400);
          font-size: 0.75rem;

          margin-bottom: 1rem;
          .icon {
            display: flex;
            margin-right: 0.5rem;
          }
        }
        .buttons-wrapper {
          display: flex;
          gap: 1rem;
          padding-bottom: 2rem;
          @media (max-width: 375px) {
            flex-direction: column;
          }
        }
      }
    }

    .sidebar {
      background-color: var(--white);
      color: var(--gray-400);
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 1.5rem;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 25rem;
      margin: 0 auto;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
      }

      .default-wrapper {
        .illustration {
          margin: 1rem auto;
          @media (max-width: 768px) {
            display: none;
          }
        }
        h2 {
          color: var(--gray-500);
          margin: 1rem auto;
        }
      }

      .message-wrapper {
        display: none;
        flex-direction: column;
        font-size: 1.5rem;
        height: 100%;
        text-align: left;
        .message {
          flex-grow: 1;
        }
        .secondary-btn {
          background-color: var(--white);
        }
      }
    }

    .primary-btn {
      background-color: var(--dark-blue-300);
      color: var(--white);
      font-size: 1rem;
      border-radius: 1.5rem;
      cursor: pointer;
      width: 100%;
    }

    .primary-btn:hover {
      background-color: var(--dark-blue-400);
    }

    .secondary-btn {
      background-color: var(--light-blue-100);
      color: var(--dark-blue-400);
      font-size: 1rem;
      border: 1px solid var(--dark-blue-400);
      border-radius: 1.5rem;
      cursor: pointer;
      width: 100%;
    }

    .secondary-btn:hover {
      background-color: var(--light-blue-200);
    }

    .primary-btn,
    .secondary-btn {
      padding: 1.5rem;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin: 2.5rem auto;
    @media (max-width: 768px) {
      margin: 2rem auto;
    }
    @media (max-width: 375px) {
      margin: 1.5rem auto;
    }
  }
}
